{% extends 'website/main.html' %}

{% block content %}



    <div class="container-fluid d-flex justify-content-center mt-3">

        <div class="col-md-6 border d-flex justify-content-center p-3">
            <form class="form-inline my-2 my-lg-0" method='GET'>{% csrf_token %}
                <input autocomplete="off" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='word'>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center mt-3" >
        <div class="col-md-6 border p-3" >
            <H3>Definition</H3>
            <p>{{ a}}</p>
        </div>
    </div>




{% endblock content %}